*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
}
.mobileHeader{
    display: none;
}
.section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}
.desktopHeader{
    width: 100%;
    height: 17rem;
    overflow-x: hidden;
    position: absolute;
    top: 0;
}
.section-1-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
}
.section-1-container > img{
    width: 100%;
    max-width: 6rem;
    margin-bottom: 3rem;
}
.section-1-content{
    width: 100%;
    max-width: 35rem;
    text-align: center;
}
.section-1-content h1{
    width: 100%;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.section-1-content p{
    width: 100%;
    margin-bottom: 2rem;
}
.btn{
    width: 100%;
    
}
.btn .green{
    background-color: hsl(171, 66%, 44%);
    color: #fff;
    padding: 0.7rem 1.4rem;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
}
.btn .green:hover{
    background-color: hsl(171, 79%, 58%);
}
.btn .blue{
    background-color: hsl(233, 100%, 69%);
    color: #fff;
    padding: 0.7rem 1.4rem;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
}
.btn .blue:hover{
    background-color: hsl(221, 96%, 72%);
}

.section-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
}
.section-2 h1, .section-3 h1, .section-4 h1, .section-6 h1{
    font-size: 1.9rem;
}
.section-2 p, .section-3 p, .section-4 p, .section-6 p{
    font-size: 0.9rem;
    margin-bottom: 3rem;
}

.content2{
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: -2rem;
    display: flex;
    justify-content: space-between;
}
.content2 > img{
    width: 100%;
    max-width: 45rem;
}
.infoBox{
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}
.infoBox .box1 h3{
    margin-bottom: 0.5rem;
}
.box1 p{
    line-height: 1.5rem;
}

.section-3 h1{
    font-size: 1.9rem;
}
.section-2 p{
    font-size: 0.9rem;
    margin-bottom: 3rem;
}
.section-3{
    margin-bottom: 0;
}
.section-3  img{
    width: 100%;
    max-width: 45rem;
    margin-bottom: 0;
}

.sectionWrap{
    width: 100%;
    max-width: 60rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.wrap{
    width: 100%;
    text-align: center;
}
.wrap > img{
    max-width: 3rem;
    height: 2rem;
    object-fit: cover;
    margin-bottom: 1rem;
}
.wrap h3{
    margin-bottom: 1rem;
}

.section-5{
    width: 100%;
    max-width: 63rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-5 > img{
    width: 100%;
    max-width: 7rem;
    object-fit: cover;
}
.section-6 p{
    margin-bottom: 2rem;
}
.footer{
    width: 100%;
    background-color: hsl(201, 11%, 66%);
    padding: 3rem 0;
}
.footercontainer{
    width: 100%;
    max-width: 65rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footercontent > img{
    width: 100%;
    max-width: 3rem;
    height: 3rem;
    margin: auto auto auto 0;
    object-fit: cover;
}
.footercontent{
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
}
.contentBox{
    width: 100%;
    max-width: 30rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.contentBox .box-1{
    line-height: 2rem;
}
.socials > img{
    width: 100%;
    max-width: 1.3rem;
    margin-right: 1rem;
    object-fit: cover;
}

@media screen and (max-width:1100px) {
    .content2 > img{
        max-width: 25rem;
        height: 20rem;
    }
    .infoBox{
        max-width: 20rem;
        margin-top: 2rem;
        margin: auto;
    }
    .infoBox .box1 h3{
        margin-bottom: 0.1rem;
        font-size: 1rem;
    }
    .box1 p{
        line-height: 1rem;
    }
    .footercontent{
       max-width: 35rem;
    }
}

@media screen and (max-width:650px) {
    .desktopHeader{
        display: none;
    }
    .mobileHeader{
        display: block;
        width: 100%;
        height: 17rem;
        overflow-x: hidden;
        position: absolute;
        top: 0;
    }
    .section-1-container{
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    .btn .green{
        width: 100%;
        display: block;
        margin-bottom: 1rem;
    }
    .btn .blue{
        width: 100%;
        display: block;
    }
    .section-2{
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    .content2{
       flex-direction: column;
       margin: auto;
    }
    .content2 > img{
        max-width: 20rem;
        margin: auto;
        height: 15rem;
       margin-bottom: 3rem;
    }
    .infoBox{
        margin-top: 0;
        max-width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    .sectionWrap{
        flex-direction: column;
    }
    .section-5{
       flex-direction: column;
    }
    .section-5 > img{
        margin-bottom: 3rem;
    }
    .footercontainer{
        flex-direction: column;
    }
    .footercontent{
        flex-direction: column;
    }
    .footercontent > img{
        margin: auto;
        margin-bottom: 1.5rem;
    }
    .contentBox{
        flex-direction: column;
    }
    .contentBox .box-1{
        text-align: center;
        margin: auto;
    }
    .contentBox p{
        margin-bottom: 1rem;
    }
}